<script type="text/javascript">
    var sortingOrder = 'bill_date';
</script>

<style>
    @media (min-width: 992px) {
        .col-xs-4 > .panel > .panel-body {
            min-height: 150px;
        }
    }
</style>

<div ng-include="'/partials/navigation.html'"></div>

<div class="row">
    <div class="col-xs-12">

        <div class="well" ng-show="!bills.length">
            <h3>Выставленные счета отсутствуют</h3>
        </div>

        <div ng-repeat="bill in bills | filter : search as bills_filtered"></div>

        <div class="page-header" ng-show="bills.length">
            <h3>Выставленные счета (найдено {{bills_filtered.length}} на сумму {{ bills_filtered | sumTotal : 'bill_sum' | number : 2 }} руб.)
                <span class="pull-right">
                    <input type="text" placeholder="Поиск по счетам" class="form-control" ng-model="search">
                </span>
            </h3>
        </div>


        <div ng-repeat="date in bills_filtered | groupByFieldEx : 'bill_date_str'" >

            <div class="col-xs-4">
                <div class="panel panel-success">
                    <div class="panel panel-heading">
                        <h4>
                            <span class="glyphicon glyphicon-list-alt" title="Загрузить детализацию за период {{date}} г." ng-click="downloadDetails(date)"  style="cursor: pointer"></span>
                            {{date}} г.
                        </h4>
                    </div>
                    <div class="panel panel-body">
                        <ul ng-repeat="bill in bills | filter : date | orderBy : 'bill_number' ">
                           <li>
                               <span class="label label-info " style="cursor: pointer" title="Загрузить счет" ng-click="downloadBill(bill.bill_id)"><b>{{bill.bill_number}}</b></span>
                               &nbsp;{{bill.bill_sum | number : 2}} руб.
                           </li>
                        </ul>
                    </div>
                    <div class="panel panel-footer">
                        <b>ИТОГО: {{ bills | filter : date | sumTotal : 'bill_sum' | number : 2 }} руб.</b>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>