<style>
    .center-div {
        margin-top: 50px;
        width: 40%;
    }

    .top-buffer {
        margin-top: 15px;
    }

</style>

<div class="container center-div">
    <div class="row"  >
        <div class="panel panel-default">
            <div class="panel-heading"><b>Вход в личный кабинет</b></div>
            <div class="panel-body">

                <div class="row top-buffer">
                    <div class="col-xs-12 row">
                        <form action="">
                            <div class="col-xs-6">
                                <input type="text" id="inn" class="form-control input-xs" placeholder="ИНН" ng-model="credentials.email" >
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="{{passwordInputType}}" id="password" class="form-control input-xs" placeholder="Пароль" ng-model="credentials.password">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" ng-click="togglePasswordVisible()">
                                            <span ng-class="passwordHidden ? 'glyphicon glyphicon-eye-open' : 'glyphicon glyphicon-eye-close' "></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row top-buffer">
                    <div class="col-xs-12">
                        <div vc-recaptcha
                             theme="'light'"
                             key="credentials.key"
                             lang="ru"
                             on-create="setWidgetId(widgetId)"
                             on-success="setResponse(response)"
                             on-expire="cbExpiration()">
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" ng-click="signin()" ng-disabled="submitDisabled()">Войти</button>
                <img ng-src="img/circle-loader.gif" ng-show="signinProgress">
            </div>
        </div>
    </div>

</div>

<div class="container" ng-show="error_notify">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <strong>{{error_message}}</strong>
            </div>
        </div>
    </div>
</div>