<div class="navbar navbar-default" ng-controller="NavController">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span class="label label-success">{{base_client.name}} <span class="badge badge-info">баланс л/с: {{base_client.balance}} руб</span> </span></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left br">
                <li><a href="bills">Счета</a></li>
                <li><a href="payments">Платежи</a></li>

                <!--     <li><a href="details">Детализация</a></li>-->
                <li><a href="services">Абонентские номера</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right br" style="padding-right: 15px">
                <li><a href="" ng-click="signout()">Выход</a></li>
            </ul>
        </div>
    </div>
</div>