<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Зарегистрироваться</h2>
        <p>Заполните регистрационные данные</p>

            <p><input type="text" class="form-control" placeholder="Имя" ng-model="name" required></p>
            <p><input type="text" class="form-control" placeholder="Email адрес" ng-model="email" required></p>
            <p><input type="text" class="form-control" placeholder="Пароль" ng-model="password" required></p>

            <p>
                <button type="button" class="btn btn-success form-control" ng-click="signup()">Зарегистрироваться</button>
            </p>

            <p>
                Уже зарегистрированы? <a href="#signin"><b>Войти</b></a>
            </p>

    </div>
</div>